$box-shadow-light: 0 0 3px #ccc;
$color-white-light: rgb(245, 245, 245);
$text-dark-light: rgb(97, 97, 97);
$primary-color: salmon;
$secondary-color: #fbc5bf;
$header-text-large: 4rem;
$header-text: 3rem;
$normal-text: 2rem;
$max-content: 144rem;
$position: fixed !default;
$topModal: 12vh !default;
