@import "../../../assets/scss/main.scss";

.category {
	min-height: 60rem;
	margin-top: 10rem; //testing
	padding-bottom: 5rem;
}

.categoryTitle {
	text-align: left;
	font-size: $normal-text;
	font-weight: 300;
	max-width: $max-content;
	margin: 0 auto;
	padding-left: 2rem;
}

.title {
	font-size: $header-text;
	text-align: left;
	padding-left: 2rem;
	color: $text-dark-light;
	margin: 0 auto;
	max-width: $max-content;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include respond(tab-other) {
		margin: 0 auto;
		max-width: $max-content;
	}
}

.cat {
	color: $primary-color;
}

.empty {
	width: 100%;
	margin-top: 5rem;
	font-size: $header-text;
	color: $primary-color;
}
