@import "../../assets/scss/main.scss";

.review {
  @include darkGradient;

  &-content {
    display: flex;
    flex-direction: column;
    color: $color-white-light;
    @include respond(tab-other) {
      flex-direction: row;
      justify-content: space-around;
      max-width: $max-content;
      margin: 0 auto;
    }
  }

  &-group {
    margin: 4rem 0;
  }
  &-title {
    font-size: $header-text-large;
  }
  &-text {
    font-size: 2.5rem;
    font-weight: 300;
  }
}

.plus {
  color: $primary-color;
  margin-left: 1rem;
}
