@import "../../../../assets/scss/main.scss";

.card {
  display: flex;
  flex: 0 0 40%;
  min-width: 30rem;
  height: 43rem;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  margin: 1rem;
  @include roundedBorders;
  @include lighterShadow;

  @include respond(tab-other) {
    flex: 0 0 20%;
  }

  &-wrapper {
    max-width: 20rem;
    min-height: 6rem;
    height: 60%;
    padding: 1rem;
  }

  &-img {
    width: 100%;
    height: 90%;
    -o-object-fit: center;
    object-fit: center;
  }

  &-name {
    margin-top: 1rem;
    font-size: $normal-text;
    text-transform: capitalize;
    min-height: 7rem;
    font-weight: 300;
  }
  &-price {
    font-size: $header-text;
    font-weight: 600;
  }
}

.group {
  position: relative;
  width: 100%;
  background-color: rgba(236, 236, 236, 0.637);
}

.added {
  position: absolute;
  bottom: 5rem;
  right: 10%;
  font-size: 1.3rem;
  -webkit-animation: fadeup 0.4s linear;
  animation: fadeup 0.4s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeup {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateY(-3px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-6px);
    opacity: 0;
  }
}

@keyframes fadeup {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateY(-1.5px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-3px);
    opacity: 0;
  }
}
