@import "../../../assets/scss/main.scss";

.btn {
	padding: 2.2rem 8rem;
	border-radius: 40px;
	font-size: 2.3rem;
	@include darkGradient;
	color: $color-white-light;
	border: none;
	font-family: inherit;
	cursor: pointer;
	transition: color 100ms linear;
	@media (hover: none) {
		color: $color-white-light;
	}
	@media (hover: hover) {
		&:hover {
			color: $primary-color;
		}
	}
	&:focus {
		outline: none;
	}
}

.btn--cart:disabled {
	cursor: initial !important;
	background: #fbc5bf;

	@media (hover: none) {
		background: #fbc5bf !important;
	}
	@media (hover: hover) {
		&:hover {
			background: #fbc5bf;
		}
	}
}
.btn--addSmall:disabled {
	cursor: initial !important;
	@media (hover: none) {
		color: #fff !important;
	}
	@include respond(desktop) {
		@media (hover: hover) {
			&:hover {
				color: #fff !important;
			}
		}
	}
}

.btn.btn--cart,
.btn.btn--cart:active,
.btn--disabled {
	min-width: 200px !important;
	position: relative;
	padding: 1.5rem 5rem;
	font-size: 1.4rem;
	background-image: revert !important;
	background: $secondary-color;
	color: #fff;
	margin-bottom: 2rem;
	@media (hover: hover) {
		&:hover {
			background-color: $primary-color;
		}
	}
	@media (hover: none) {
		background: $primary-color;
	}
}
.btn--disabled,
.btn--disabled:active {
	background-color: #fff;
	color: red;
	cursor: initial;
	&:hover {
		background-color: #fff;
		color: red !important;
	}
}

.btn--addSmall,
.btn--addSmall:active,
.btn--outOfStock,
.btn--outOfStock:active {
	min-width: 152px !important;
	padding: 1.2rem 4rem;
	margin-bottom: 2rem;
	font-size: 1rem;
}
.btn--outOfStock {
	background-image: initial;
	background-color: #fff;
	color: red;
	cursor: initial;
}

.btn--subscribe {
	padding: 2rem 6rem;
	@include respond(tab-land) {
		margin-right: auto;
		padding: 1.3rem 10rem;
	}
}

.btn--wishList {
	background: none;
	padding: 1rem;
	img {
		width: 3.2rem;
	}
}

.btn--checkout,
.btn--checkout:active {
	font-size: Min(3vw, 2rem);
	padding: 1.5rem 6rem;
}
.btn--cancel-2,
.btn--cancel-2:active {
	font-size: Min(3vw, 2rem);
	background-image: initial;
	border: 1px solid #ccc;
	background-color: $color-white-light;
	color: $text-dark-light;
	padding: 1.5rem 6rem;
	@include respond(tab-land) {
		margin-bottom: 0;
	}
}

.btn--signup,
.btn--signup:active,
.btn--cancel,
.btn--cancel:active {
	font-size: 2vw;
	padding: 1.3rem 6rem;
	margin: 1rem;

	@include respond(tab-other) {
		font-size: $normal-text;
		padding: 1.3rem 6rem;
	}
}
.btn--cancel:active {
	background-color: $color-white-light;
}
.btn--cancel {
	background-image: initial;
	background-color: $color-white-light;
	color: $text-dark-light;

	&:hover {
		background-color: rgb(238, 238, 238);
	}
	@media (hover: none) {
		background-color: $color-white-light;
	}
}
